* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.chatting {
  position: fixed;
  bottom: 35px;
  right: 35px;
  width: 65px;
  height: 65px;
  background-color: #f45369;
  border-radius: 50%;
}

.chatting i {
  position: absolute;
  left: 18px;
  top: 15px;
  font-size: xx-large;
  color: white;
}

main {
  margin-top: 15px;
}

main .about .container .title h2 {
  margin-bottom: 0px;
}

main .about .container .text {
  width: 795px;
  padding-top: 17px;
  padding-bottom: 17px;
}

main .about .container .options ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
}

main .about .container .options ul li {
  margin-right: 15px;
}

main .about .container .options ul li .btn {
  background-color: #e8ecf1;
  border-radius: 37px;
}

main .about .container .options ul li .red {
  background-color: #f45369;
  color: white;
}

main .popular-card {
  padding-top: 30px;
}

main .popular-card .container {
  border: 1px solid #eaeaea;
  background-color: #f9fafb;
  border-radius: 15px;
  height: 357px;
}

main .popular-card .container .row .col-lg-4.left {
  padding-top: 85px;
  padding-left: 50px;
}

main .popular-card .container .row .col-lg-4.left img {
  width: 277px;
  height: 180px;
}

main .popular-card .container .row .col-lg-8 .popular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
}

main .popular-card .container .row .col-lg-8 .popular i {
  color: #ff0023;
}

main .popular-card .container .row .col-lg-8 .popular h6 {
  color: #ff0023;
  margin-left: 10px;
}

main .popular-card .container .row .col-lg-8 .card-name {
  padding-top: 20px;
}

main .popular-card .container .row .col-lg-8 .card-name h3 a {
  text-decoration: none;
  color: black;
}

main .popular-card .container .row .col-lg-8 .about-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
}

main .popular-card .container .row .col-lg-8 .about-card .card-price {
  margin-right: 100px;
}

main .popular-card .container .row .col-lg-8 .about-card .partners {
  margin-right: 100px;
}

main .popular-card .container .row .col-lg-8 .order-card {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .popular-card .container .row .col-lg-8 .order-card .order-button .btn {
  background-color: #f45369;
  width: 280px;
  height: 55px;
  border-radius: 8px;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main .popular-card .container .row .col-lg-8 .order-card .order-button .btn:hover {
  background-color: #ff0023;
}

main .popular-card .container .row .col-lg-8 .order-card .more {
  padding-top: 11px;
  padding-left: 32px;
}

main .popular-card .container .row .col-lg-8 .order-card .more a {
  text-decoration: none;
  color: black;
}

main .cards .container .card-title {
  padding-bottom: 75px;
  margin-top: 40px;
}

main .cards .container .installment-cards .row .col-lg-4.card-box {
  width: 30%;
  margin-right: 3%;
  border-radius: 15px;
  background-color: #f9fafb;
  height: 250px;
  padding: 0px;
}

main .cards .container .installment-cards .row .col-lg-4.card-box .card-image {
  padding: 0px 30px;
}

main .cards .container .installment-cards .row .col-lg-4.card-box .card-image a img {
  width: 150px;
  height: 98px;
  margin-top: -48px;
}

main .cards .container .installment-cards .row .col-lg-4.card-box .card-name {
  margin-top: 25px;
  padding: 0px 30px;
}

main .cards .container .installment-cards .row .col-lg-4.card-box .card-name a {
  text-decoration: none;
  color: black;
}

main .cards .container .installment-cards .row .col-lg-4.card-box .about-card {
  padding: 0px 17px;
}

main .cards .container .installment-cards .row .col-lg-4.card-box .about-card ul {
  padding-top: 9px;
  list-style: none;
}

main .cards .container .installment-cards .row .col-lg-4.card-box .about-card ul li::before {
  content: "\2022";
  color: #f45369;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

main .cards .container .installment-cards .row .col-lg-4.card-box .bottom-place {
  margin-top: 24px;
  margin-left: 0px;
  padding-left: 0px;
  border-top: 1px solid #eaeaea;
}

main .cards .container .installment-cards .row .col-lg-4.card-box .bottom-place .col-lg-4 {
  margin-top: 13px;
  border-right: 1px solid #eaeaea;
}

main .cards .container .installment-cards .row .col-lg-4.card-box .bottom-place .col-lg-4 a {
  padding-left: 30px;
  padding-right: 0px;
  text-decoration: none;
  color: #f45369;
}

main .cards .container .installment-cards .row .col-lg-4.card-box .bottom-place .col-lg-8.more {
  margin-top: 13px;
}

main .cards .container .installment-cards .row .col-lg-4.card-box .bottom-place .col-lg-8.more a {
  text-decoration: none;
  color: black;
  padding-left: 18px;
}

main .cards .container .debet-cards .row .col-lg-4.card-box {
  width: 30%;
  margin-right: 3%;
  border-radius: 15px;
  background-color: #f9fafb;
  height: 250px;
  padding: 0px;
  margin-bottom: 80px;
}

main .cards .container .debet-cards .row .col-lg-4.card-box .card-image {
  padding: 0px 30px;
}

main .cards .container .debet-cards .row .col-lg-4.card-box .card-image a img {
  width: 150px;
  height: 98px;
  margin-top: -48px;
}

main .cards .container .debet-cards .row .col-lg-4.card-box .card-name {
  margin-top: 25px;
  padding: 0px 30px;
}

main .cards .container .debet-cards .row .col-lg-4.card-box .card-name a {
  text-decoration: none;
  color: black;
}

main .cards .container .debet-cards .row .col-lg-4.card-box .about-card {
  padding: 0px 17px;
}

main .cards .container .debet-cards .row .col-lg-4.card-box .about-card ul {
  padding-top: 9px;
  list-style: none;
}

main .cards .container .debet-cards .row .col-lg-4.card-box .about-card ul li::before {
  content: "\2022";
  color: #f45369;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

main .cards .container .debet-cards .row .col-lg-4.card-box .bottom-place {
  margin-top: 24px;
  margin-left: 0px;
  padding-left: 0px;
  border-top: 1px solid #eaeaea;
}

main .cards .container .debet-cards .row .col-lg-4.card-box .bottom-place .col-lg-4 {
  margin-top: 13px;
  border-right: 1px solid #eaeaea;
}

main .cards .container .debet-cards .row .col-lg-4.card-box .bottom-place .col-lg-4 a {
  padding-left: 30px;
  padding-right: 0px;
  text-decoration: none;
  color: #f45369;
}

main .cards .container .debet-cards .row .col-lg-4.card-box .bottom-place .col-lg-8.more {
  margin-top: 13px;
}

main .cards .container .debet-cards .row .col-lg-4.card-box .bottom-place .col-lg-8.more a {
  text-decoration: none;
  color: black;
  padding-left: 18px;
}

main .cards .container .debet-cards .row .col-lg-4.card-box.only-more {
  margin-bottom: 0px;
}

main .cards .container .debet-cards .row .col-lg-4.card-box.only-more .more {
  margin-top: 24px;
  margin-left: 0px;
  border-top: 1px solid #eaeaea;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main .cards .container .debet-cards .row .col-lg-4.card-box.only-more .more .link {
  margin-top: 13px;
}

main .cards .container .debet-cards .row .col-lg-4.card-box.only-more .more .link a {
  text-decoration: none;
  color: black;
  padding-left: 30px;
}

main .cards .container .digital-card .row .col-lg-4.card-box {
  width: 30%;
  margin-right: 3%;
  border-radius: 15px;
  background-color: #f9fafb;
  height: 250px;
  padding: 0px;
}

main .cards .container .digital-card .row .col-lg-4.card-box .card-image {
  padding: 0px 30px;
}

main .cards .container .digital-card .row .col-lg-4.card-box .card-image a img {
  width: 150px;
  height: 98px;
  margin-top: -48px;
}

main .cards .container .digital-card .row .col-lg-4.card-box .card-name {
  margin-top: 25px;
  padding: 0px 30px;
}

main .cards .container .digital-card .row .col-lg-4.card-box .card-name a {
  text-decoration: none;
  color: black;
}

main .cards .container .digital-card .row .col-lg-4.card-box .about-card {
  padding: 0px 17px;
}

main .cards .container .digital-card .row .col-lg-4.card-box .about-card ul {
  padding-top: 9px;
  list-style: none;
}

main .cards .container .digital-card .row .col-lg-4.card-box .about-card ul li::before {
  content: "\2022";
  color: #f45369;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

main .cards .container .digital-card .row .col-lg-4.card-box .more {
  margin-top: 24px;
  margin-left: 0px;
  border-top: 1px solid #eaeaea;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main .cards .container .digital-card .row .col-lg-4.card-box .more .link {
  margin-top: 13px;
}

main .cards .container .digital-card .row .col-lg-4.card-box .more .link a {
  text-decoration: none;
  color: black;
  padding-left: 30px;
}

main .cards .container .gift-card .row .col-lg-4.card-box {
  width: 30%;
  margin-right: 3%;
  border-radius: 15px;
  background-color: #f9fafb;
  height: 250px;
  padding: 0px;
}

main .cards .container .gift-card .row .col-lg-4.card-box .card-image {
  padding: 0px 30px;
}

main .cards .container .gift-card .row .col-lg-4.card-box .card-image a img {
  width: 150px;
  height: 98px;
  margin-top: -48px;
}

main .cards .container .gift-card .row .col-lg-4.card-box .card-name {
  margin-top: 25px;
  padding: 0px 30px;
}

main .cards .container .gift-card .row .col-lg-4.card-box .card-name a {
  text-decoration: none;
  color: black;
}

main .cards .container .gift-card .row .col-lg-4.card-box .about-card {
  padding: 0px 17px;
}

main .cards .container .gift-card .row .col-lg-4.card-box .about-card ul {
  padding-top: 9px;
  list-style: none;
}

main .cards .container .gift-card .row .col-lg-4.card-box .about-card ul li::before {
  content: "\2022";
  color: #f45369;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

main .cards .container .gift-card .row .col-lg-4.card-box .more {
  margin-top: 24px;
  margin-left: 0px;
  border-top: 1px solid #eaeaea;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main .cards .container .gift-card .row .col-lg-4.card-box .more .link {
  margin-top: 13px;
}

main .cards .container .gift-card .row .col-lg-4.card-box .more .link a {
  text-decoration: none;
  color: black;
  padding-left: 30px;
}
/*# sourceMappingURL=main.css.map */