$primary-color: #f45369;
$secondary-color: #ff0023;
$box-color:#f9fafb ;
$box-border-color: #eaeaea;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.chatting {
    position: fixed;
    bottom: 35px;
    right: 35px;
    width: 65px;
    height: 65px;
    background-color: $primary-color;
    border-radius: 50%;


    i {
        position: absolute;
        left: 18px;
        top: 15px;
        font-size: xx-large;
        color: white;
    }
}

main {
    margin-top: 15px;

    .about {
        .container {

            .title {

                h2 {
                    margin-bottom: 0px;
                }
            }

            .text {
                width: 795px;
                padding-top: 17px;
                padding-bottom: 17px;
            }

            .options {
                ul {
                    display: flex;
                    list-style: none;
                    padding-left: 0px;
                    margin-bottom: 0px;

                    li {
                        margin-right: 15px;

                        .btn {
                            background-color: #e8ecf1;
                            border-radius: 37px;
                        }

                        .red {
                            background-color: $primary-color;
                            color: white;
                        }
                    }
                }
            }
        }
    }

    .popular-card {
        padding-top: 30px;

        .container {

            border: 1px solid $box-border-color;
            background-color: $box-color;
            border-radius: 15px;
            height: 357px;

            .row {

                .col-lg-4.left {
                    padding-top: 85px;
                    padding-left: 50px;


                    img {
                        width: 277px;
                        height: 180px;
                    }
                }

                .col-lg-8 {
                    .popular {
                        display: flex;
                        padding-top: 32px;

                        i {
                            color: $secondary-color;
                        }

                        h6 {
                            color: $secondary-color;
                            margin-left: 10px;
                        }
                    }

                    .card-name {
                        padding-top: 20px;

                        h3 {
                            a {
                                text-decoration: none;
                                color: black;
                            }
                        }
                    }

                    .about-card {
                        display: flex;
                        padding-top: 40px;


                        .card-price {
                            margin-right: 100px;
                        }

                        .partners {
                            margin-right: 100px;
                        }

                        

                    }

                    .order-card {
                        padding-top: 60px;
                        display: flex;

                        .order-button {

                            .btn {
                                background-color: $primary-color;
                                width: 280px;
                                height: 55px;
                                border-radius: 8px;
                                color: white;
                            }

                        }


                        .more {
                            padding-top: 11px;
                            padding-left: 32px;

                            a {
                                text-decoration: none;
                                color: black;

                            }
                        }
                    }
                }
            }

        }
    }

    .cards {

        .container {

            .card-title {
                padding-bottom: 75px;
                margin-top: 40px;
            }

            .installment-cards {

                .row {
                    .col-lg-4.card-box {

                        width: 30%;
                        margin-right: 3%;
                        border-radius: 15px;
                        background-color: $box-color;
                        height: 250px;
                        padding: 0px;


                        .card-image {
                            padding: 0px 30px;

                            a {
                                img {
                                    width: 150px;
                                    height: 98px;
                                    margin-top: -48px;
                                }
                            }
                        }

                        .card-name {
                            margin-top: 25px;
                            padding: 0px 30px;

                            a {
                                text-decoration: none;
                                color: black;

                            }
                        }

                        .about-card {
                            padding: 0px 17px;

                            ul {
                                padding-top: 9px;
                                list-style: none;
                                li::before {
                                    content: "\2022";
                                    color: $primary-color;
                                    font-weight: bold;
                                    display: inline-block; 
                                    width: 1em;
                                    margin-left: -1em;
                                }
                            }
                        }


                        .bottom-place {
                            margin-top: 40px;
                            margin-left: 15px;
                            padding-left: 18px;

                            .col-lg-4 {

                                a {
                                    text-decoration: none;
                                    color: $primary-color;
                                }
                            }

                            .col-lg-8.more {

                                a {
                                    text-decoration: none;
                                    color: black;
                                }
                            }
                        }
                    }
                }
            }

            .debet-cards {

                .row {
                    .col-lg-4.card-box {

                        width: 30%;
                        margin-right: 3%;
                        border-radius: 15px;
                        background-color: $box-color;
                        height: 250px;
                        padding: 0px;
                        margin-bottom: 80px;


                        .card-image {
                            padding: 0px 30px;

                            a {
                                img {
                                    width: 150px;
                                    height: 98px;
                                    margin-top: -48px;
                                }
                            }
                        }

                        .card-name {
                            margin-top: 25px;
                            padding: 0px 30px;

                            a {
                                text-decoration: none;
                                color: black;

                            }
                        }

                        .about-card {
                            padding: 0px 17px;

                            ul {
                                padding-top: 9px;
                                list-style: none;
                                li::before {
                                    content: "\2022";
                                    color: $primary-color;
                                    font-weight: bold;
                                    display: inline-block; 
                                    width: 1em;
                                    margin-left: -1em;
                                }
                            }
                        }


                        .bottom-place {
                            margin-top: 40px;
                            margin-left: 15px;
                            padding-left: 18px;

                            .col-lg-4 {

                                a {
                                    text-decoration: none;
                                    color: $primary-color;
                                }
                            }

                            .col-lg-8.more {

                                a {
                                    text-decoration: none;
                                    color: black;
                                }
                            }
                        }
                    }
                }


                .row {
                    .col-lg-4.card-box.only-more {
                        margin-bottom: 0px;

                        .more {
                            margin-top: 40px;
                            margin-left: 15px;
                            padding-left: 18px;

                            a {

                                text-decoration: none;
                                color: black;
                            }
                        }
                    }
                }
            }

            .digital-card{
                .row {
                    .col-lg-4.card-box {
                       
                        width: 30%;
                        margin-right: 3%;
                        border-radius: 15px;
                        background-color: #f9fafb;
                        height: 250px;
                        padding: 0px;

                        .card-image {
                            padding: 0px 30px;

                            a {
                                img {
                                    width: 150px;
                                    height: 98px;
                                    margin-top: -48px;
                                }
                            }
                        }

                        .card-name {
                            margin-top: 25px;
                            padding: 0px 30px;

                            a {
                                text-decoration: none;
                                color: black;

                            }
                        }

                        .about-card {
                            padding: 0px 17px;

                            ul {
                                padding-top: 9px;
                                list-style: none;
                                li::before {
                                    content: "\2022";
                                    color: $primary-color;
                                    font-weight: bold;
                                    display: inline-block; 
                                    width: 1em;
                                    margin-left: -1em;
                                }
                            }
                        }

                        .more {
                            margin-top: 40px;
                            margin-left: 15px;
                            padding-left: 18px;

                            a {

                                text-decoration: none;
                                color: black;
                            }
                        }
                    }
                }
                

            }
            .gift-card{
                .row {
                    .col-lg-4.card-box {
                       
                        width: 30%;
                        margin-right: 3%;
                        border-radius: 15px;
                        background-color: #f9fafb;
                        height: 250px;
                        padding: 0px;

                        .card-image {
                            padding: 0px 30px;

                            a {
                                img {
                                    width: 150px;
                                    height: 98px;
                                    margin-top: -48px;
                                }
                            }
                        }

                        .card-name {
                            margin-top: 25px;
                            padding: 0px 30px;

                            a {
                                text-decoration: none;
                                color: black;

                            }
                        }

                        .about-card {
                            padding: 0px 17px;

                            ul {
                                padding-top: 9px;
                                list-style: none;
                                li::before {
                                    content: "\2022";
                                    color: $primary-color;
                                    font-weight: bold;
                                    display: inline-block; 
                                    width: 1em;
                                    margin-left: -1em;
                                }
                            }
                        }

                        .more {
                            margin-top: 40px;
                            margin-left: 15px;
                            padding-left: 18px;

                            a {

                                text-decoration: none;
                                color: black;
                            }
                        }
                    }
                }
            }

        }
    }

}